<div class="container-btn">

    <ul style="list-style: none;">

        <li *ngFor="let item of items">

            <input [id]="item.text" type="checkbox" (change)="item.done = !item.done" (click)="completeItem()"
                [checked]="item.done">

            <label [for]="item.text" [ngClass]="{complete: item.done}">
                {{ item.text }}
            </label>


            <button (click)="removeTarefa(item)" class="btn">

                <app-icone [icone]="'dash'"></app-icone>

            </button>

        </li>

        <li *ngIf="items.length == 0" class="li">

            No task's here!

        </li>

    </ul>

</div>